        upstream  nacosServer{
            server 192.168.112.129:8848;
            server 192.168.112.130:8848;
            server 192.168.112.131:8848;
        }
        server {
            listen 18848;
            server_name  192.168.112.129;
            location / {
                proxy_pass http://nacosServer/;
            }
        }
